
.post-fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: calc(var(--vh, 1vh) * 100);
  color: white;
  background-color: hsl(218deg 23% 26%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.go-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(180deg);
  color: white;
  background-color: inherit;
  border: 2px solid white;
  line-height: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.go-back-button:hover {
  background-color: white;
  color: hsl(218deg 23% 26%);
}

.room-pwd {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.574);
}

.room-pwd strong {
  color: white;
}

.post-fixed-container h2 {
  font-family: 'Edu VIC WA NT Beginner', cursive !important;
  font-size: 2rem;
  margin: auto;
  padding: 10px 10px 20px 10px;
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
}

.post-fixed-container div.direct-cmnt-container {
  height: 35%;
  width: 100%;
  border-top: 2px dotted hsl(0, 0%, 100%);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-comment-container textarea,
.direct-cmnt-container textarea {
  box-sizing: border-box;
  padding: 5px 7px;
  width: 100%;
  height: 60%;
  resize: none;
  border: none;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.add-comment-container textarea:focus,
.direct-cmnt-container textarea:focus {
  outline: 2px solid hsl(218deg 23% 20%);
}

.wrong-comment-txt {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  outline: 2px solid rgb(255, 46, 46);
}

.splash-btn.dirct-cmnt {
  align-self: flex-end;
  margin-bottom: 0;
}

.splash-btn.dirct-cmnt.inactive {
  opacity: 0.6;
}

.comments-container {
  position: fixed;
  top: 0;
  left: 40%;
  right: 0;
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
}

/* shake animation */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* no comments */

.no-comments-alert {
  box-sizing: border-box;
  min-height: calc(calc(var(--vh, 1vh) * 100) - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.ibb.co/j5kLP6T/conversate-logo.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 50% 10px;
}

@media only screen and (max-width: 600px) {
  .post-fixed-container {
    position: relative;
    width: 100%;
  }

  .comments-container {
    position: relative;
    overflow: hidden;
    left: 0;
    min-height: calc(var(--vh, 1vh) * 100);
    height: auto;
    width: 100%;
  }
}
